@{
    ViewData["Title"] = "Home Page";
}

@*cool bootstrap photo carousel*@
<div id="demo" class="carousel slide bg-dark " data-ride="carousel">

    <h1 class="text-white text-center">Meet the Team</h1>
    @*Indicators*@
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
        <li data-target="#demo" data-slide-to="5"></li>
        <li data-target="#demo" data-slide-to="6"></li>
        <li data-target="#demo" data-slide-to="7"></li>
        <li data-target="#demo" data-slide-to="8"></li>

    </ul>
    @*The slideshow*@
    <div class="carousel-inner">
        <div class="carousel-item active text-center">
            <div>
                <p class="text-white">Kerry Muhlestein, Project Manager</p>
                <img src="~/img/team/kerry.jpg" />
            </div>
        </div>
        <div class="carousel-item text-center">
            <p class="text-white">R. Paul Evans</p>
            <img src="~/img/team/rpaulevans.jpg" />
        </div>
        <div class="carousel-item text-center">
            <p class="text-white">Joyce Smith</p>
            <img src="~/img/team/joycesmith (3).jpg" />
        </div>
        <div class="carousel-item text-center">
            <p class="text-white">Deb Harris</p>
            <img src="~/img/team/debharris.jpg" />
        </div>
        <div class="carousel-item text-center">
            <p class="text-white">Brian Christensen</p>
            <img src="~/img/team/brianchristensen (3).jpg" />
        </div>
        <div class="carousel-item text-center">
            <p class="text-white">John Gee</p>
            <img src="~/img/team/johngee (1).jpg" />
        </div>
        <div class="carousel-item text-center">
            <p class="text-white">Krystal Pierce</p>
            <img src="~/img/team/krystalpierce(2).jpg" />
        </div>

        <div class="carousel-item text-center">
            <p class="text-white">George Pierce</p>
            <img src="~/img/team/georgepierce (1).jpg" />
        </div>
        <div class="carousel-item text-center">
            <p class="text-white">Giovanni Tata</p>
            <img src="~/img/team/giovannitata.jpg" />
        </div>
    </div>
    @*Left and right controls*@
    <br /><br />
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<br />
<br />
<br />


@*FOR THE PROJECT PICTURES*@
<div id="img" class="carousel slide bg-dark " data-ride="carousel">

    <h1 class="text-white text-center">Project Photos</h1>
    @*Indicators*@
    <ul class="carousel-indicators">
        <li data-target="#img" data-slide-to="0" class="active"></li>
        <li data-target="#img" data-slide-to="1"></li>
        <li data-target="#img" data-slide-to="2"></li>
        <li data-target="#img" data-slide-to="3"></li>
        <li data-target="#img" data-slide-to="4"></li>
        <li data-target="#img" data-slide-to="5"></li>
        <li data-target="#img" data-slide-to="6"></li>

    </ul>
    @*The slideshow*@
    <div class="carousel-inner">
        <div class="carousel-item active text-center">
            <div>
                <img src="~/img/egypt/team.JPG" />
            </div>
        </div>
        <div class="carousel-item text-center">
            <img src="~/img/egypt/DSCN1000.JPG" />
        </div>
        <div class="carousel-item text-center">
            <img src="~/img/egypt/DSCN0316.JPG" />
        </div>
        <div class="carousel-item text-center">
            <img src="~/img/egypt/DSCN0314.JPG" />
        </div>
        <div class="carousel-item text-center">
            <img src="~/img/egypt/DSCN0004 (1).JPG" />
        </div>
        <div class="carousel-item text-center">
            <img src="~/img/egypt/cat.jpg" />
        </div>

        <div class="carousel-item text-center">
            <img src="~/img/egypt/bod.jpg" />
        </div>
    </div>
    @*Left and right controls*@
    <br /><br />
    <a class="carousel-control-prev" href="#img" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#img" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
